<<<<<<< HEAD
body{
    background-image:url('../images/subtle_grunge.png');
    font-family: Georgia, 'Times New Roman', Times, serif;
=======
/* font-family: 'Merriweather', serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Press Start 2P', cursive; */

body{
    background-image:url('../images/subtle_grunge.png');
    font-family: 'Merriweather', serif;
>>>>>>> 15dacf0b51e1a0e9fdb0bbad450be44feee5d3ba
}

.main{
    font-size: 18px;
<<<<<<< HEAD
    border: 4px solid darkslategray;
=======
    border: 3px solid darkslategray;
>>>>>>> 15dacf0b51e1a0e9fdb0bbad450be44feee5d3ba
    background-color: #e0d7e5;
    margin-bottom:10px;
}

.main p{
    padding:2px;
}

.random-number{
    text-align:center;
    font-size: 28px;
<<<<<<< HEAD
    border:4px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom:20px;
=======
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom:20px;
    font-family: 'Archivo Narrow', sans-serif;
>>>>>>> 15dacf0b51e1a0e9fdb0bbad450be44feee5d3ba
}

.win-lose{
    font-size: 20px;
<<<<<<< HEAD
    border:4px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom:20px;
}

.gems{
    border:4px solid darkslategray;
    background-color: #e0d7e5;
=======
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom:20px;
    font-family: 'Archivo Narrow', sans-serif;
}

.gems{
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    padding:15px;
>>>>>>> 15dacf0b51e1a0e9fdb0bbad450be44feee5d3ba
    margin-bottom:20px;
}

.total-score{
    font-size:28px;
    text-align:center;
<<<<<<< HEAD
    border:4px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom: 20px;
}

h1{
    text-align:center;
    font-size: 50px;
=======
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom: 20px;
    font-family: 'Archivo Narrow', sans-serif;
}

h1{
    margin-left: 295px;
    font-size: 50px;
    font-family: 'Archivo Narrow', sans-serif;
>>>>>>> 15dacf0b51e1a0e9fdb0bbad450be44feee5d3ba
}

#empty-words{
    font-size: 70px;
    text-align:center;
}

<<<<<<< HEAD
img{
    border: solid 3px white;
    margin:10px;
}

.img-responsive{
    width:180px;
    height:120px;
=======
.img-responsive{
    width:180px;
    height:120px;
    padding: 10px;
>>>>>>> 15dacf0b51e1a0e9fdb0bbad450be44feee5d3ba
}

.win-text{
    float:left;
}

.lose-text{
    float:left;
}

.btn{
<<<<<<< HEAD
    margin-left:45px;
    margin-bottom:20px;
=======
    margin-left:20px;
    margin-bottom:20px;
    font-family: 'Press Start 2P', cursive;
}

#win-or-lose-col {
    font-size:30px;
    text-align:center;
    border:3px solid darkslategray;
    background-color: #932acc;
    margin-bottom:20px;
    color: whitesmoke;
>>>>>>> 15dacf0b51e1a0e9fdb0bbad450be44feee5d3ba
}