/* font-family: 'Merriweather', serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Press Start 2P', cursive; */

body{
    background-image:url('../images/subtle_grunge.png');
    font-family: 'Merriweather', serif;
}

.main{
    font-size: 18px;
    border: 3px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom:10px;
}

.main p{
    padding:2px;
}

.random-number{
    text-align:center;
    font-size: 28px;
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom:20px;
    font-family: 'Archivo Narrow', sans-serif;
}

.win-lose{
    font-size: 20px;
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom:20px;
    font-family: 'Archivo Narrow', sans-serif;
}

.gems{
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    padding:15px;
    margin-bottom:20px;
}

.total-score{
    font-size:28px;
    text-align:center;
    border:3px solid darkslategray;
    background-color: #e0d7e5;
    margin-bottom: 20px;
    font-family: 'Archivo Narrow', sans-serif;
}

h1{
    margin-left: 295px;
    font-size: 50px;
    font-family: 'Archivo Narrow', sans-serif;
}

#empty-words{
    font-size: 70px;
    text-align:center;
}

.img-responsive{
    width:180px;
    height:120px;
    padding: 10px;
}

.win-text{
    float:left;
}

.lose-text{
    float:left;
}

.btn{
    margin-left:20px;
    margin-bottom:20px;
    font-family: 'Press Start 2P', cursive;
}

#win-or-lose-col {
    font-size:30px;
    text-align:center;
    border:3px solid darkslategray;
    background-color: #932acc;
    margin-bottom:20px;
    color: whitesmoke;
}